.appContainer {
  margin: 10px;
  background-color: #fff;
}

.appContent {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogo-spin infinite 20s linear;
  }
}

@keyframes appLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
